<script lang="ts">
  // @ts-nocheck
  import { Router, Route } from "svelte-routing";
  import StateCheck from "./StateCheck.svelte";
</script>

<div class="App">
  <Router>
    <Route path="state" component={StateCheck} />
  </Router>
</div>

<style type="scss">
  .App {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background: #fff;
      color: rgb(255, 171, 62);
      outline: none;
      border: none;
      padding: 0.6em 2em;
      font-weight: 600;
      border-radius: 4em;
      font-size: 1.2em;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
</style>
