html, body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(67, 65, 75);
    color: #FFF;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    *{
        font-family: 'Nunito', sans-serif;
    }
}