<!-- Script
---------------------------------------------------->
<script>
  // @ts-nocheck
  import { useMachine } from "xstate-svelte";
  import mineMachine from "./mineMachine";
  import StateMatch from "./StateMatch.svelte";

  const { state, send: sendEvent } = useMachine(mineMachine);

  const renderMine = (matrix, yx) => {
    const { yId, xId } = yx;
    if (matrix[yId][xId] === true) return "*";
    return matrix[yId][xId] !== false ? matrix[yId][xId] : "";
  };

  $: renderStateName = () => {
    const val = $state.value;
    if (typeof val === "object")
      return `${Object.keys(val)[0]} : ${val[Object.keys(val)[0]]}`;

    return val;
  };
</script>

<!-- Template
---------------------------------------------------->
<header>
  <h2>
    {renderStateName()}
  </h2>
  <button
    class="btn"
    disabled={$state.value !== "SelectGame"}
    on:click={() => sendEvent({ type: "START_GAME", payload: "Some Data" })}
    >START</button
  >
  <button
  disabled={$state.value === "SelectGame" || $state.value === "GameWon"}
    on:click={() => sendEvent({ type: "RESET", payload: "Some Data" })}
    class="btn">RESET</button
  >
  <button
    class="btn"
    disabled={$state.value !== "GameWon"}
    on:click={() => sendEvent({ type: "RESTART", payload: "Some Data" })}
    >RESTART</button
  >
</header>

<main class="mine-sweeper col-{6}">
  {#each $state.context.matrix as yItems, yId}
    {#each yItems as _xItem, xId}
      <div
        class="block {typeof $state.context.matrix[yId][xId] === 'number'
          ? 'active'
          : ''}"
        on:click={() =>
          sendEvent({ type: "BLOCK_SELECT", payload: { yId, xId } })}
      >
        {renderMine($state.context.matrix, { yId, xId })}
      </div>
    {/each}
  {/each}
</main>

<!-- Styles
---------------------------------------------------->
<style lang="scss">
  header {
      margin: 1.5em 0;
    button {
      background: #fff;
      color: rgb(255, 171, 62);
      outline: none;
      border: none;
      padding: 0.6em 2em;
      font-weight: 600;
      border-radius: 4em;
      font-size: 1.2em;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    button:disabled {
      background: rgb(187, 185, 175);
      color: rgb(133, 117, 98);
    }
  }
  .mine-sweeper {
    display: grid;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);

    .block {
      width: 42px;
      height: 42px;
      border: solid 1px rgb(255, 216, 125);
      background: rgb(255, 171, 62);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      font-weight: 500;
      cursor: pointer;
    }

    .block.active {
      background: rgb(158, 95, 12);
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
    }
  }

  .mine-sweeper.col-6 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .mine-sweeper.col-8 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    .block {
      width: 40px;
      height: 40px;
    }
  }

  .mine-sweeper.col-12 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .block {
      width: 38px;
      height: 38px;
    }
  }
  h2 {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    margin: 0.6em 0;
  }

  footer {
    width: 40%;
    padding: 1.2em;
    background: #9a9584;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
    border: solid 3px #ada793;
    margin: 1.8em 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      background: #fff;
      color: rgb(255, 171, 62);
      outline: none;
      border: none;
      padding: 0.6em 2em;
      font-weight: 600;
      border-radius: 4em;
      font-size: 1.2em;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
</style>
