<script>
  export let state: any;
  export let match: any;
  export let notMatch: any;
  let isMatch = false;

  const expected = match ? (Array.isArray(match) ? match : [match]) : null;
  const notExpected = notMatch ? (Array.isArray(notMatch) ? notMatch : [notMatch]) : null;

  $: isMatch = expected && expected.some(value => $state.matches(value));
  $: isNotMatch = notExpected && notExpected.some(value => !$state.matches(value));


</script>

{#if isMatch}
  <slot />
{/if}
